@using NugetWebsiteModern.Models;

@{
	ViewData["Title"] = "Home Page";

	var statistics = ViewData["Statistics"] as Statistics;
}


<div class="container">
		
	<div class="about">
		<div class="row">
			<div class="col-md-6">
				<h2>What is the NuGet?</h2>

				<div class="characteristic">
					<i class="fa fa-sliders pull-left" aria-hidden="true"></i>
					<p>NuGet is the package manager for the Microsoft development platform including .NET.</p>
				</div>

				<div class="characteristic">
					<i class="fa fa-industry pull-left" aria-hidden="true"></i>
					<p>The NuGet client tools provide the ability to produce and consume packages.</p>
				</div>

				<div class="characteristic">
					<i class="fa fa-picture-o pull-left" aria-hidden="true"></i>
					<p>The NuGet Gallery is the central package repository used by all package authors and consumers.</p>
				</div>
			</div>

			<div class="col-md-6">
				<img src="~/images/nuget_visual_studio.png" alt="NuGet in the Visual Studio" />
			</div>
		</div>
	</div>

</div>

<div class="section">
	<div class="find-package container">

		<form action="/" method="post">
			<input type="text" name="package_name" value="" placeholder="Search package" />
			<button class="text-button" type="submit">Search</button>
		</form>

	</div>
</div>

<div class="container">
	<div class="row"> 

		<div class="col-md-6">
			<div class="usage">
				<i class="fa fa-rocket" aria-hidden="true"></i>

				<h3>Make your project powerful</h3>
				<p>
					You can develop your own package and share it via the NuGet Gallery. Read the documentation for more details on how to create and publish a package.
				</p>

				<a href="" class="text-button">How to create a package</a>
			</div>
		</div>

		<div class="col-md-6">
			<div class="usage">
				<i class="fa fa-share-square-o" aria-hidden="true"></i>

				<h3>Share your packages</h3>
				<p>
					You can develop your own package and share it via the NuGet Gallery. Read the documentation for more details on how to create and publish a package.
				</p>

				<a href="" class="text-button">How to create a package</a>
			</div>
		</div>

	</div>
</div>


<div class="statistics-list section">
	<div class="container">
		<div class="row">

			<div class="statistics col-sm-4">
				<i class="icon fa fa-database"></i>

				<div class="text">
					<h3>@statistics.UniquePackages.ToString("#,#")</h3>
					<p>Unique packages</p>
				</div>
			</div>

			<div class="statistics col-sm-4">
				<i class="icon fa fa-code-fork"></i>

				<div class="text">
					<h3>@statistics.TotalPackages.ToString("#,#")</h3>
					<p>Versions of packages</p>
				</div>
			</div>

			<div class="statistics col-sm-4">
				<i class="icon fa fa-cloud-download"></i>

				<div class="text">
					<h3>@statistics.Downloads.ToString("#,#")</h3>
					<p>Total downloads</p>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">

		<div class="col-md-3 col-sm-6">
			<div class="useful">
				<i class="fa fa-cogs" aria-hidden="true"></i>
				<h3>Overview</h3>
				<p>
					Read how the package system work to be able to understand the mechanics under the hood.
				</p>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="useful">
				<i class="fa fa-download" aria-hidden="true"></i>
				<h3>Install</h3>
				<p>
					How to install the package system as well as how to update and manage.
				</p>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="useful">
				<i class="fa fa-book" aria-hidden="true"></i>
				<h3>Learn</h3>
				<p>
					Watch screencasts and presentations about anything and everything NuGet.
				</p>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="useful">
				<i class="fa fa-question-circle" aria-hidden="true"></i>
				<h3>FAQ</h3>
				<p>
					Read the Frequently Asked Questions about NuGet and see if your question made the list.
				</p>
			</div>
		</div>

	</div>

</div>


<div class="footer section">
	<div class="container">
		<div class="row col-md-8 col-md-offset-2">

			<div class="links col-sm-5 col-xs-6 text-right">
				<a href="">Authors</a>
				<a href="">Contact</a>
				<a href="">Service status</a>
			</div>

			<div class="col-sm-2 text-center hidden-xs">
				<img src="~/images/foundation.png" />
			</div>

			<div class="links col-sm-5 col-xs-6 text-left">
				<a href="">Terms of Use</a>
				<a href="">Privacy Policy</a>
				<a href="">About the Gallery</a>
			</div>

			<div class="col-xs-12">
				<h4>2017 © .NET Foundation</h4>
			</div>

		</div>
	</div>
</div>