@using NugetWebsiteModern.Models;

@{
	ViewData["Title"] = "Home Page";

	var packages = ViewData["Packages"] as List<Package>;
}

<div class="package-list container">
	<div class="row">

		@foreach (var package in packages)
		{
			<div class="col-lg-4 col-md-6">
				<div class="package row">

					<div class="image col-sm-3">
						<img src="@package.IconUrl" />
					</div>

					<div class="description col-sm-9">
						<div class="package-overlay"></div>
						
						<h4>@package.Id</h4>
						<p>@package.Summary</p>
						<i class="fa fa-download"></i><downloads Number="@package.TotalDownloads"></downloads>
					</div>
				</div>
			</div>
		}

	</div>
</div>


