@using NugetWebsiteModern.Models;

@{
	ViewData["Title"] = "Home Page";

	var packages = ViewData["Packages"] as List<Package>;
}

<div class="package-list container">
	<div class="row">

		@foreach (var package in packages)
		{
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="package">
					<div class="package-overlay"></div>

					<div class="image">
						@if (!String.IsNullOrEmpty(package.IconUrl))
						{
							<img src="@package.IconUrl" alt="No icon" />
						}
						else
						{
							<i class="no-icon fa fa-code"></i>
						}
					</div>

					<div class="description">
						<h4>@package.Id</h4>

						<span class="downloads">
							<i class="fa fa-download"></i><downloads Number="@package.TotalDownloads"></downloads>
						</span>
						
					</div>
				</div>
			</div>
		}

	</div>
</div>


